@page "/booklist"
@using BlazorApp2.Shared.Wrappers
@inject HttpClient Http

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="@(() => SortBy("ID"))" style="cursor: pointer;">
                    ID
                    @if (sortBy == "ID")
                    {
                        <Icon Type="arrow-down" Theme="outline" />
                    }
                    @if (sortBy == "ID_Desc")
                    {
                        <Icon Type="arrow-up" Theme="outline" />
                    }
                </th>
                <th @onclick="@(() => SortBy("Title"))" style="cursor: pointer;">
                    Title
                    @if (sortBy == "Title")
                    {
                        <Icon Type="arrow-down" Theme="outline" />
                    }
                    @if (sortBy == "Title_Desc")
                    {
                        <Icon Type="arrow-up" Theme="outline" />
                    }
                </th>
                <th @onclick="@(() => SortBy("Author"))" style="cursor: pointer;">
                    Author
                    @if (sortBy == "Author")
                    {
                        <Icon Type="arrow-down" Theme="outline" />
                    }
                    @if (sortBy == "Author_Desc")
                    {
                        <Icon Type="arrow-up" Theme="outline" />
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books.Books)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>

    <p><Pagination @bind-PageIndex="@pageNumber" PageSize="@pageSize" Total="@books.TotalRecords" OnPageIndexChange="@UpdateBookListAsync"></Pagination></p>
}

@code {
    private PagedBooks books;

    private int pageNumber = 1;

    private int pageSize = 10;

    private string sortBy = "ID";

    protected override async Task OnInitializedAsync()
    {
        await UpdateBookListAsync();
    }

    private async Task SortBy(string sort)
    {
        if (sortBy == sort)
        {
            switch (sortBy)
            {
                case "ID":
                    sortBy = "ID_Desc";
                    break;

                case "ID_Desc":
                    sortBy = "ID";
                    break;

                case "Title":
                    sortBy = "Title_Desc";
                    break;

                case "Title_Desc":
                    sortBy = "Title";
                    break;

                case "Author":
                    sortBy = "Author_Desc";
                    break;

                case "Author_Desc":
                    sortBy = "Author";
                    break;

                default:
                    break;
            }
        }
        else
        {
            sortBy = sort;
        }
        await UpdateBookListAsync();
    }

    private async Task UpdateBookListAsync()
    {
        books = await Http.GetFromJsonAsync<PagedBooks>($"api/Books?pageNumber={pageNumber}&pageSize={pageSize}&sortBy={sortBy}");
    }
}
